Optics___Hecht[[:space:]]E.[[:space:]]-[[:space:]]Optics-AW[[:space:]](2002).pdf filter=lfs diff=lfs merge=lfs -text
QC[[:space:]]-[[:space:]]Molecular[[:space:]]Electronic[[:space:]]Structure[[:space:]]Theory[[:space:]]-[[:space:]]Helgaker,[[:space:]]Jorgensen,[[:space:]]Olsen.pdf filter=lfs diff=lfs merge=lfs -text
Computational[[:space:]]Physics[[:space:]]-[[:space:]]Mark[[:space:]]Newman.pdf filter=lfs diff=lfs merge=lfs -text
E&M[[:space:]]-[[:space:]]The[[:space:]]Classical[[:space:]]Theory[[:space:]]of[[:space:]]Fields[[:space:]]-[[:space:]]Landau,[[:space:]]Lifshitz.pdf filter=lfs diff=lfs merge=lfs -text
QC[[:space:]]-[[:space:]]Introduction[[:space:]]to[[:space:]]Quantum[[:space:]]Mechanics[[:space:]]in[[:space:]]Chemistry[[:space:]]-[[:space:]]Ratner,Schatz.pdf filter=lfs diff=lfs merge=lfs -text
